.gamewindow {
  border: 1px solid #000;
  margin: 6px 0 0 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}

.container {
  width: 100%;
  height: 100%;
  justify-content: center;
}

@keyframes animate-stroke {
  0% { stroke-width: 1px; }
  50% { stroke-width: 5px ;}
  100% { stroke-width: 1px ;}
}

.player {
  fill: var(--cornflower);
  animation-name: animate-stroke;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}